[submodule "Vlada"]
	path = Vlada
	url = https://github.com/vlada123m22/PAD-Vlada-5.git
[submodule "Roleplay-Service"]
	path = Roleplay-Service
	url = https://github.com/Ernu-Catalina/Roleplay-Service.git
[submodule "Shop-Service"]
	path = Shop-Service
	url = https://github.com/Ernu-Catalina/Shop-Service.git
